
// $font-stack: Arial, Helvetica, sans-serif;

// colours
$dark-1: #000000;
$dark-2: #151618;
$dark-3: #222629;
$dark-4: #31383d;
$dark-5: #24292c;
$dark-6: #757575;
$dark-7: #303c44;
$dark-8: #272f35;

$light-1: #ffffff;
$light-2: #e6e6e6;
$light-3: #c7c7c7;
$light-4: #aaaaaa;
$light-5: #fafafa;
$light-6: #949494;
$light-7: #E9ECEF;

$blue-1: #3be2da;
$blue-2: #21b1aa;
$blue-3: #0f98ad;
$blue-4: #088699;
$blue-5: #129eb4;
$blue-6: #d2ebf3;
$blue-7: #effbff;
$blue-8: #e3f9ff;
$blue-9: #add8e6;
$blue-10: #7dbbca;
$blue-11: #3ab4ff;
$blue-12: #14a5ff;
$blue-13: #3ab3ff8a;
$blue-14: #008ae0;
// $blue-15: #3ab3ff44;


$transp-1: #00000020;
$transp-2: #00000060;

$dangert: #dc3546f1;

$danger: #dc3546f1;
$danger-3: #f16472f1;
$danger-4: #fd7f8c7e;

$success: #28A745;
$success-2: #52df7388;

$warning: #ffa500;

$drawbox-1: #3d7aca;