@import 'map/markers';
@import 'filter/relatedfilter';
@import 'filter/relatedfilter_mq';
@import 'filter/filterpanel';
@import 'filter/filterpanel_mq';
@import 'variables';
@import 'elements/buttons';
@import 'elements/buttons_mq';
@import 'elements/messagebar';
@import 'elements/messagebar_mq';
@import 'elements/checkboxes';
@import 'elements/checkboxes_mq';
@import 'elements/tooltips';
@import 'map/leafletdraw';
@import 'elements/radioButtons';
@import 'elements/radioButtons_mq';
@import 'elements/input';
@import 'header/header';
@import 'header/header_mq';
@import 'map/map';
@import 'map/map_mq';
@import 'map/popup';
@import 'attribution/attribution';
@import 'attribution/attribution_mq';
@import 'instruction/instruction';
@import 'instruction/instruction_mq';
@import 'elements/labels';
@import 'detail/detail';
@import 'detail/detail_mq';
@import 'tables/table';
@import 'tables/table_mq';
@import 'elements/cover';
@import 'elements/links';
@import 'elements/infiniteselect';
@import 'edit/edit';
@import 'edit/edit_mq';
@import 'map/mapbuttons';
@import 'elements/containers';
@import 'userinput/userinput';
@import 'userinput/userinput_mq';
@import 'elements/scrollbar';
@import 'error/errorpage';



body {
    font-size: 1em;
    font-family: "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", Arial, "Helvetica", sans-serif !important;
}

.no-overflow {
    height: 100vh;
    overflow-y: hidden;
}

h3 {
    font-size: 1.2em;
}

.hideEle {
    display: none;
}

.showEle {
    display: block;
}

.showEleGrid {
    display: grid;
}

.inactive-pg {
    position: absolute;
    z-index: 9;
    background-color: #00000080;
    height: 100vh;
    width: 100%;
}


@import "~bootstrap/scss/bootstrap";