@import '../variables';


@media only screen and (min-width: 851px) {

    .btn-c1,
    .btn-c4,
    .btn-c2,
    .btn-c3 {
        &:hover {
            border-bottom-color: $light-2;
            box-shadow: inset 0 0 4px $light-1;
        }
        &:active {
            box-shadow: inset 0 0 7px $light-1;
            border-bottom-color: $light-2;
        }
    }
}


@media only screen and (max-width: 850px) {

    .btn-c1,
    .btn-c4,
    .btn-c2,
    .btn-c3 {
        &:active {
            box-shadow: inset 0 0 7px $light-1;
            border-bottom-color: $light-2;
        }
    }

}
