@import '../variables';


.btn-act-c1 {
    border-bottom-color: $light-2 !important;
}

.btn-c1,
.btn-c4 {
    background-color: $blue-3;
    border: none;
    border-bottom: 2px solid $blue-3;
    color: $light-1;
    border-radius: 4px;

    &:focus {
        outline:0;
    }
}


.btn-c2,
.btn-c3 {
    background-color: $blue-3;
    border: 1px solid $blue-3;
    border-bottom: 3px solid $blue-3;
    color: $light-2;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: left;

    &:focus {
        outline:0;
    }
}

.btn-c3 {
    background-color: $blue-4;
    margin-bottom: 8px;
    border-bottom-width: 2px;
}

.btn-c5 {
    border: 1px solid #3ab4ff;
    background-color: #3ab4ff;
    color: white;
    border-radius: 4px;

    &:hover {
        border-color: #14a5ff;
        background-color: #14a5ff;
    }
}


.btn-c6 {
    border: 2px solid rgba(0,0,0,0.2);
    background-color: $light-1;
    color: $dark-3;
    border-radius: 3px;
    background-clip: padding-box;

    &:hover {
        background-color: $light-5;
    }

    &:active {
        border: 2px solid $light-3;
    }
}

// map popup icon buttons
.btn-c7 {
    border: none;
    color: $light-4;
    background-color: $dark-3;

    &:hover {
        color: $light-3;
        box-shadow: inset 0 0 3px $light-1;
    }
}


// the 'x' close button at the top right corner of forms

.closeLinkc1 {
    position: absolute;
    margin-top: -14px;
    float: right;

    a {
        color: $light-4;
        font-size: 1.4em;

        &:hover {
            color: $light-1;
            text-decoration: none;
        }      
    }
}


.close-c1,
.close-c2,
.close-c3,
.close-c4 {
    user-select: none;
    cursor: pointer;
    position: relative;
    float: right;
    background-color: $dark-7;
    border: 1px solid $dark-7;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    color: $dark-2;

    &:hover {
        color: $light-3;
        border-color: $danger-3;
    }

    span {
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translate(-50%,0);
    }
}

.close-c2 {
    span {
        bottom: 0;
    }
}

.close-c3 {
    background-color: $light-2;
    border: 1px solid $light-2;
    height: 22px;
    width: 22px;
    border-radius: 20px;
    color: $dark-6;
    font-size: 1.4em;
    bottom: 6px;
    left: 10px;

    &:hover {
        color: $dark-7;
        border-color: $danger-3;
    }

    span {
        bottom: 0;
    }
}

.close-c4 {
    color: $light-3;
    margin: 2px 2px 0 0;

    &:hover {
        color: $light-1;
        border-color: $dark-6;
        background-color: $dark-6;
    }

    span {
        bottom: -1px;
    }
}
