@import '../variables';

.filter-checkbox {
    user-select: none;
    color: $light-3;
    width: 100%;
    font-size: 0.8em;
    margin-bottom: 4px;

    &:hover {
        color: $light-1;
    }

    input {
        margin: 2px 20px 0 0;
    }

}

// input wrapped within label. checkbox hidden, label changes colour when checked
.checkbox-c1,
.checkbox-c2,
.checkbox-c3,
.checkbox-c4 {

    input {
        display: none;
    }

    label {
        user-select: none;
        margin-right: 10px !important;
        padding: 2px 10px;
        border-radius: 10px;
        background-color: $light-2;
    }

    input:checked + label {
        background-color: $blue-9;
    }

}

.checkbox-c2,
.checkbox-c3 {
    margin-right: 60px;
    float: right;

    label {
        margin: 0;
        background-color: $blue-9;
    }

    input:checked + label {
        background-color: $light-2;
    }

}

.checkbox-c3 {
    float: none;
    width: 200px;
    margin: 0 0 2px 0;
    display: inline-block;
}

.checkbox-c4 {
    float: none;

    label {
        margin-right: 0 !important;
        margin-bottom: 0;
        padding: 4px 20px;
        border-radius: 20px;
        background-color: $dark-7;
        border: 1px solid $dark-7;
        font-size: 0.7em;
        color: $light-3;
        cursor: pointer;

        &:hover {
            border-color: $light-6;
        }
    }

    input:checked + label {
        background-color: $blue-3;
        color: $light-2;

        &:hover {
            border-color: $light-3;
        }
    }
}