@import '../variables';


.confirm-c1 {
    width: 250px;
    z-index: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $dark-4;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 2px $dark-4;
    font-size: 0.8em;

    div {
        position: relative;
        padding-bottom: 5px;

        p {
            color: $light-2;
            margin-bottom: 10px;
        }

        button {
            width: 100px;
            height: 30px;

            &:first-of-type {
                margin-right: 20px;
            }
        }
    }
}


// title/sites table select popup
.popup-c1 {
    width: 250px;
    z-index: 100;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0);
    background-color: $dark-4;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 1px 2px $dark-4;
    font-size: 0.8em;

    div:first-of-type {
        left: 10px;
        bottom: 5px;
        
        span {
            color: $light-4;
            bottom: 1px;

            &:hover {
                color: $light-3;
            }
        }
    }

    div:last-of-type {
        p {
            color: $light-2;
        }

        button {
            width: 100px;
            height: 30px;

            &:first-of-type {
                margin-right: 20px;
            }
        }
    }
}

