@import '../variables';


@media only screen and (min-width: 851px) {

    .radiobar-c1 {
        label {    
            &:hover {
                color: $light-1;
                border-bottom: 3px solid $light-2;
                box-shadow: inset 0 0 4px $light-1;
                background-color: $blue-3;
            }
    
            &:active {
                color: $light-1;
                border-bottom: 3px solid $light-2;
                box-shadow: inset 0 0 8px $light-1;
                background-color: $blue-3;
            }
        }
    
        input {    
            &:checked + label {
                color: $light-1;
                border-bottom: 3px solid $light-2;
                background-color: $blue-3;
            }
        }
    }

}


@media only screen and (max-width: 850px) {

    .radiobar-c1 {
        label:active {
                color: $light-1;
                border-bottom: 3px solid $light-2;
                box-shadow: inset 0 0 8px $light-1;
                background-color: $blue-3;
        }
    
        input {    
            &:checked + label {
                color: $light-1;
                border-bottom: 3px solid $light-2;
                background-color: $blue-3;
            }
        }
    }
}


