@import '../variables';


.Tooltip-Wrapper {
    display: inline-block;
    position: relative;

    .Tooltip-Tip {
        position: absolute;
        border-radius: 4px;
        padding: 8px 12px;
        background: $light-2;
        font-size: 12px;
        line-height: 1;
        z-index: 1000;
        white-space: nowrap;
    }

    // below is styling for individual tooltips
    .bottom-left-1 {
        top: 100%;
    }

    .bottom-right-1 {
        transform: translateX(-100%);
        top: calc(100% + 5px);
    }

    .top-left-1 {
        bottom: calc(100% + 7px);
    }

    .left-1 {
        right: 80px;
        top: 25px;
    }
}


