container_commands:
  01_install_geos:
    command: |
      sudo wget "https://gdal-atlas-bkt.s3.amazonaws.com/django2/geos-3.6.0.tar.gz"
      sudo mkdir -p /usr/local/geos
      sudo tar -xvf geos-3.6.0.tar.gz -C /usr/local/geos
      sudo rm -f geos-3.6.0.tar.gz
    test: "[ ! -d /usr/local/geos ]"

  02_install_proj4:
    command: |
      sudo wget "https://gdal-atlas-bkt.s3.amazonaws.com/django2/proj4-4.8.0.tar.gz"
      sudo mkdir -p /usr/local/proj4
      sudo tar -xvf proj4-4.8.0.tar.gz -C /usr/local/proj4
      sudo rm -f proj4-4.8.0.tar.gz
    test: "[ ! -d /usr/local/proj4 ]"

  03_install_gdal:
    command: |
      sudo wget "https://gdal-atlas-bkt.s3.amazonaws.com/django2/gdal-2.1.0.tar.gz"
      sudo mkdir -p /usr/local/gdal
      sudo tar -xvf gdal-2.1.0.tar.gz -C /usr/local/gdal
      sudo rm -f gdal-2.1.0.tar.gz
    test: "[ ! -d /usr/local/gdal ]"

  04_migrate:
    command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/manage.py migrate --noinput"
    leader_only: true


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "backend.settings"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
    PATH: /usr/local/gdal/bin:$PATH
    LD_LIBRARY_PATH: /usr/local/proj4/lib:/usr/local/geos/lib:/usr/local/gdal/lib:$LD_LIBRARY_PATH
    GEOS_LIBRARY_PATH: /usr/local/gdal/lib/libgeos_c.so"
    GDAL_LIBRARY_PATH: /usr/local/gdal/lib/libgdal.so

  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi.py

  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/


packages:
  yum:
    git: []
    postgresql93: []
    postgresql93-devel: []
