container_commands:
  01_install_geos:
    command: |
      sudo wget "https://gdal-atlas-bkt.s3.amazonaws.com/django3/geos-3.6.4.tar.gz"
      sudo mkdir -p /usr/local/geos
      sudo tar -xvf geos-3.6.4.tar.gz -C /usr/local/geos
      sudo rm -f geos-3.6.4.tar.gz
    test: "[ ! -d /usr/local/geos ]"

  02_install_proj4:
    command: |
      sudo wget "https://gdal-atlas-bkt.s3.amazonaws.com/django3/proj4-5.2.0.tar.gz"
      sudo mkdir -p /usr/local/proj4
      sudo tar -xvf proj4-5.2.0.tar.gz -C /usr/local/proj4
      sudo rm -f proj4-5.2.0.tar.gz
    test: "[ ! -d /usr/local/proj4 ]"

  03_install_gdal:
    command: |
      sudo wget "https://gdal-atlas-bkt.s3.amazonaws.com/django3/gdal-2.4.4.tar.gz"
      sudo mkdir -p /usr/local/gdal
      sudo tar -xvf gdal-2.4.4.tar.gz -C /usr/local/gdal
      sudo rm -f gdal-2.4.4.tar.gz
    test: "[ ! -d /usr/local/gdal ]"

  04_sh_executable:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;



option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: backend.settings
    PATH: /usr/local/gdal/bin:$PATH
    LD_LIBRARY_PATH: /usr/local/proj4/lib:/usr/local/geos/lib:/usr/local/gdal/lib:$LD_LIBRARY_PATH
    GDAL_LIBRARY_PATH: /usr/local/gdal/lib/libgdal.so

  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/wsgi:application

  aws:elasticbeanstalk:environment:proxy:staticfiles:    
    /static: staticfiles


packages:
  yum:
    git: []
    postgresql-devel: []
