@import '../variables';

#detail-groups {
    height: calc(100vh - 145px);
    margin: 0 100px;
    padding-bottom: 50px;

    .add-holder {
        margin-top: 15px;
        margin-top: 0;

        div:first-child {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;

            div {
                width: 300px;
                float: left;
                margin-right: 20px;
    
                input, select {
                    width: 100%;
                    height: 33px;
                    padding-left: 10px;
                }
    
                label {
                    margin-bottom: 4px;
                }
            }
        }

        button {
            height: 35px;
            width: 100px;
            margin-right: 20px;
        }

        a {
            font-size: 0.9em;
            top: 9px;
            position: relative;
        }
    }

    .header-c1 {
        user-select: none;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .lookup-c1 {
        // background-color: red;
        position: relative;
        height: 38px;

        .selectbox-c1,
        .selectbox-c2 {
            width: 400px;
            float:left;
            height: 100%;
            margin-right: 20px;
            
            input {
                height: 100%;
                border: none;
                border-bottom: 1px solid grey;
                padding-left: 10px;

                &:focus {
                    outline: none;
                    border-color: $blue-11;
                }
            }
        }

        // controls the height and width of the child infinity box
        .holder-infinity,
        .ind-infinity {
            width: 500px;
            height: 38px;
            float:left;
        }

        .ind-infinity{
            width: 300px;
        }

        .link-add-value {
            font-size: 0.8em;
            float: left;
            bottom: 0;
            height: 100%;
            margin-left: 20px;

            a {
                position: absolute;
                top: 50%;
            }
        }

        .selectbox-c2 {
            width: 190px;
        }
    }

    .detail-info-c1 {
        margin-top: 20px;
        color: $dark-3;

        h5 {
            font-style: italic;
            margin: 20px 40px;
        }

        .detail-title {
            height: 50px;

            h2 {
                float: left;
            }

            div {
                float: right;
            }
        }


        .list-table-btn-group,
        .list-table-btn-lng {
            margin: 20px 0 10px 60px;

            button {
                width: 150px;

                &:last-of-type {
                    margin-left: 20px;
                }
            }
        }

        .list-table-btn-lng {
            margin-left: 40px;

            button {
                width: 200px;
            }
        }

        .detail-sub-info-c1 {
            background-color: #f8f8f8;
            box-shadow: 0 1px 6px $light-4;
            padding: 20px 50px;
            margin: 0 60px;
            border-radius: 4px;
            overflow-x: auto;

            table {
                tr {
                    border-bottom: 1px solid #dfdfdf;

                    &:first-of-type {
                        border-top: 1px solid #dfdfdf;
                    }
                    th, td {
                        border: none; // remove bootstrap
                    }
                    th {
                        color: $dark-4;
                    }
                    td {
                        p {
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }

    }
}



