@import '../variables';


.add-data-area {
    width: 300px;
    z-index: 1000;
    position: relative;
    left: 55px;
    margin-top: 10px;

    div {
        height: 40px;
        width: 70px;
        display: inline-block;
        position: relative;

        button {
            height: 100%;
            width: 100%;
            position: absolute;
        }
    
        .add-data-tooltip {
            top: 44px;
            background-color: transparent;
            width: 200px;
            z-index: 1001;
            position: absolute;
    
            div {
                &:first-of-type{
                    height: 0px;
                    width: 0px;
                    border-bottom: 10px solid $light-5;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    margin-left: 15px;
                    position: absolute;
                    z-index: 1002;
                }
                &:last-of-type{
                    height: auto;
                    width: 100%;
                    margin-top: 10px;
                    background-color: $light-5;
                    position: absolute;
                    border-radius: 3px;
                    box-shadow: 0 1px 2px $dark-6;
                    padding: 7px;
                }
            }
        }
    }

}


#mobile-draw {
    position: absolute;
    width: 70px;
    height: 40px;
    z-index: 100;
    top: 85px;
    margin-left: 10px;
    background-color: $light-1;

    &:active {
        background-color: $light-5;
    }
}
