@import '../variables';

.leaflet-control-attribution {
    font-size: 0.8em !important;
    max-width: 400px;
    background-color: #ffffff70 !important;
}

// the lat/lng display at the bottom left of the map
#coorindate-control {
    border-radius: 0 !important;
    border-top-right-radius: 3px !important;
    background-color: $dark-t1-3 !important;
    color: $light-3 !important;
}


#map-wrapper {
    height: calc(100vh - 60px);
    width: 100%;

    .showPanel {
        display: inline-block;
    }

    .hidePanel {
        display: none;
    }

    .fullMap {
        width: 100%;
    }

    .mapWithFilter {
        width: calc(100% - 400px);
    }

    #map-area {
        position: relative;
        height: 100%;
        // min-height: 555px;
        float: right;

        #map-layers {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;

            // presents the number of features displayed of the total number of features
            #feature-count {
                z-index: 400;
                background-color: $dark-t1-3;
                position: relative;
                height: 23px;
                width: 200px;
                padding: 3px 25px;
                color: $light-3;
                border-bottom-right-radius: 4px;
            }
        }

        .open-filter-toggle {
            height: 50px;
            width: 50px;
            background-color: $dark-5;
            border: 2px solid $light-3;
            border-left: none;
            position: absolute;
            z-index: 400;
            top: 140px;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            cursor: pointer;

            span {
                color: $light-3;
                font-size: 2.2em;
                font-weight: 100;
                position: absolute;
                top: 50%;
                left: 43%;
                transform: translate(-50%, -50%);

                &:hover {
                    color: $light-2;
                }
            }
        }
    }
}


.leaflet-container {
    height: 100%;
    width: 100%;
}
