@import '../variables';

@media only screen and (max-width: 850px) {

    // hides the draw tooltips as they can't follow the mouse
    .leaflet-draw-tooltip{
        display: none;
    }

    #map-wrapper {
        .mapWithFilter {
            width: 0;
        }
    }

    #coorindate-control {
        width: 150px !important;
        height: 40px;
        text-align: left;
        padding-left: 5px !important;
    }

    .leaflet-control-attribution {
        max-width: 200px;
    }
}