

.marker {
    height: 20px;
    width: 20px;
    background-color: black;
}

// green is general site marker colour, red is the target site marker colour
.redmarker,
.greenmarker {
    background-color: red;
    border-radius: 50%;
    border: 1.5px solid white;
}

.greenmarker {
    background-color: #0EA800;
}

// actually blue, appears when moving or creating site
.yellowmarker {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid white;
}