

.marker {
    height: 20px;
    width: 20px;
    background-color: black;
}

.redmarker {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
}