@import '../variables';


#table-pg-main {
    position: absolute;
    background-color: $light-1;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
    font-size: 0.7em;
    padding: 15px 20px;
    position: fixed;

    h1 {
        user-select: none;
        font-size: 1.6em;
        color: $light-4;
        margin: 20px;
        letter-spacing: 1px;
    }

    .greater-table-area-c1 {
        height: calc(100% - 30px);

        label {
            margin-right: 30px;
            cursor: pointer;
        }

        input {
            margin-left: 10px;
        }

        .column-filter-btn {
            background-color: red;
            margin-left: 100px;
            border: none;
        }

        .table-content-area-c1 {
            border-bottom: 1px solid $light-2;
            border-top: 1px solid $light-2;
            height: 65px;
            padding: 5px 0;
            margin-bottom: 10px;

            div {
                display: inline;
                padding: 0 10px;
            }
        }

        // height of table when the column selection element is visible
        .table-height-sm {
            height: calc(100% - 100px);
        }

        // height of table when the column selection element is hidden
        .table-height-lg {
            height: 100%;
        }

        .table-area-c1 {
            overflow-y: auto;
            overflow-x: auto;
            white-space: nowrap;
            margin-top: 5px;

            th {
                user-select: none;
                position: sticky;
                top: 0;
                padding: 0;
                background-color: $light-1;
                border-bottom: 1px solid $light-2;
                border-top: 1px solid $light-2;
                min-width: 150px;
                background-color: $blue-6;
            }

            td {
                padding-top: 7px;
                padding-bottom: 7px;
            }

            tr {

                &:nth-child(odd) {
                    background-color: $blue-7;
                }
                &:nth-child(even) {
                    background-color: $blue-8;
                }
            }
        }
        
        .pagination-ctrl {
            height: 72px;
            padding-top: 10px;
            position: relative;

            .pagination-btns,
            .pagination-pages {
                height: 30px;
                position: relative;

                div {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;

                    button {
                        border: none;
                        font-size: 1.3em;
                        border-bottom: 2px solid white;
                        background-color: white;

                        &:hover:enabled {
                            border-bottom: 2px solid $blue-9;
                        }

                        &:active:enabled {
                            border-bottom: 2px solid $blue-10;
                        }
                    }
                }
            }
        }
    }
}


.sort-none-c1,
.sort-up-c1,
.sort-down-c1 {
    border-top: 2px solid $blue-6 !important;
    border-bottom: 2px solid $blue-6 !important;
    padding: 5px 0 0 0;
    

    div {

        &:first-of-type {
            padding: 0 0 8px 10px;
        }
    
        &:last-of-type {
            padding-bottom: 5px;
        }
    }
}

.sort-up-c1 {
    border-top: 2px solid $blue-5 !important;
}

.sort-down-c1 {
    border-bottom: 2px solid $blue-5 !important;
}


// .popup-table-c1 {
//     height: calc(100% - 20px);
//     width: calc(100% - 20px);
//     // background-color: $light-5;
//     background-color: $light-1;
//     position: fixed;
//     top: 10px;
//     left: 10px;
//     z-index: 100;
//     border-radius: 5px;
//     padding: 15px 20px;
//     font-size: 0.7em;
//     box-shadow: 0 1px 4px $light-3;

//     h1 {
//         user-select: none;
//         font-size: 1.6em;
//         color: $light-4;
//         margin: 20px;
//         letter-spacing: 1px;
//     }

//     a {
//         position: absolute;
//         top: 0;
//         right: 0;
//         padding: 2px 10px 0 0;
//         font-size: 1em;
//         color: $dark-5;
//         letter-spacing: 0.05em;
        
//         &:hover {
//             color: $danger-3;
//         }
//     }

//     .greater-table-area-c1 {
//         height: calc(100% - 30px);

//         label {
//             // margin-bottom: 4px;
//             margin-right: 30px;
//             cursor: pointer;
//         }

//         input {
//             margin-left: 10px;
//         }

//         .column-filter-btn {
//             background-color: red;
//             margin-left: 100px;
//             border: none;
//         }

//         .table-content-area-c1 {
//             border-bottom: 1px solid $light-2;
//             border-top: 1px solid $light-2;
//             height: 65px;
//             padding: 5px 0;
//             margin-bottom: 10px;

//             div {
//                 display: inline;
//                 padding: 0 10px;
//             }
//         }

//         // height of table when the column selection element is visible
//         .table-height-sm {
//             height: calc(100% - 100px);
//         }

//         // height of table when the column selection element is hidden
//         .table-height-lg {
//             height: 100%;
//         }

//         .table-area-c1 {
//             overflow-y: auto;
//             overflow-x: auto;
//             white-space: nowrap;
//             margin-top: 5px;

//             th {
//                 user-select: none;
//                 position: sticky;
//                 top: 0;
//                 padding: 0;
//                 background-color: $light-1;
//                 border-bottom: 1px solid $light-2;
//                 border-top: 1px solid $light-2;
//                 min-width: 150px;
//                 background-color: $blue-6;
//             }

//             td {
//                 padding-top: 7px;
//                 padding-bottom: 7px;
//             }

//             tr {

//                 &:nth-child(odd) {
//                     background-color: $blue-7;
//                 }
//                 &:nth-child(even) {
//                     background-color: $blue-8;
//                 }
//             }
//         }
        
//         .pagination-ctrl {
//             height: 72px;
//             padding-top: 10px;
//             position: relative;
//             // border: 1px solid black;

//             .pagination-btns,
//             .pagination-pages {
//                 height: 30px;
//                 position: relative;

//                 div {
//                     top: 50%;
//                     left: 50%;
//                     transform: translate(-50%, -50%);
//                     position: absolute;

//                     button {
//                         border: none;
//                         font-size: 1.3em;
//                         border-bottom: 2px solid white;
//                         background-color: white;

//                         &:hover:enabled {
//                             border-bottom: 2px solid $blue-9;
//                         }

//                         &:active:enabled {
//                             border-bottom: 2px solid $blue-10;
//                         }
//                     }
//                 }
//             }
//         }
//     }

    
// }



