@import '../variables';

@media only screen and (max-width: 850px) {

    #panel {
        width: 100%;
    }

}

// places the 'combine related data' and both buttons at the base of the filter on one line
//      to leave more room for the filter options
@media only screen and (max-width: 850px) and (max-height: 450px) {

    #panel {   
        #panel-subarea {     
            
            #filter-area {
                position: absolute;
                height: calc(100% - 90px);
                width: 100%;
            }
            
            #panel-footer {
                height: 40px;

                #related-data-toggle {
                    position: relative;
                    margin-bottom: 5px;
                    width: calc(100% - 260px);
                    float: left;
                    height: 100%;
                    padding-top: 7px;
                }
    
                #footer-btns {
                    position: relative;
                    width: 260px;
                    float: right;
                    height: 100%;
                }
            }
        }
    }
}

