@import '../variables';


#panel {
    position: relative;
    background-color: $dark-5;
    padding: 5px 15px;
    height: 100%;
    // min-height: 400px; // 555px; this height matches the map height
    width: 400px;
    float: left;
    cursor: pointer;
    // border-right: 2px solid white;
    // box-shadow: 3px 0 3px -1px #535353;
    box-shadow: 2px 0 3px -2px $dark-1;
    z-index: 5;

    #panel-subarea {
        position: relative;
        height: 100%;
        width: 100%;

        #panel-header {
            user-select: none;
            position: relative;
            height: 40px;
            display: grid;
            grid-template-columns: 25% 50% 25%;
                
            .panel-title {
                margin: 8px 0 0 0;
                color: $light-2;
                border-radius: 3px;
                height: 30px;
                padding: 3px 15px;
                margin-top: 6px;
    
                h1 {
                    font-size: 1em;
                    font-weight: 400;
                    position: absolute;
                    top: 11px;
                    left: 50%;
                    transform: translate(-50%,0);
                }
            }
    
    
            .filter-toggle {
                transform: scale(-1, 1);
                width: 60px;
                background-color: $dark-7;
                margin: 6px 0;
                border-radius: 3px;
                color: $light-4;
                padding: 0px 18px;
                font-weight: bold;
                font-size: 1.2em;
                position: relative;
                border: 1px solid $dark-7;
    
                span {
                    position: absolute;
                    top: 2px;
                }
            }
    
            .header-icons {
                position: absolute;
                right: 0;
    
                div {
                    position: relative;
                    display: inline-block;
    
                    span {
                        color: $light-3;
                        font-size: 1.3em;
                        margin-left: 12px;
                        margin-top: 6px;
                        background-color: $dark-7;
                        padding: 3px;
                        border: 1px solid $dark-7;
                        border-radius: 3px;
                    }
    
                    // required to position the tooltip
                    div {
                        position: absolute;
                    }
                }
            }
        }

        hr {
            background-color: $light-4;
            margin: 4px 0 4px 0;
        }

        #filter-area {
            position: absolute;
            height: calc(100% - 140px);
            width: 100%;
    
            #ctrl-bar {
                margin: 9px 0 7px 0;
                width: 100%;
                position: relative;
            }
        
            #filter-groups {
                position: relative;
                height: calc(100% - 55px);
                width: 100%;
                overflow-y: auto;

                .filter-group-area {
                    #draw-sub-area {

                        button {
                            width: 155px;
                            margin: 10px 10px 0 0;
                            padding: 3px 10px;
                            font-size: 0.8em;
                    
                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    
                        h3 {
                            user-select: none;
                            color: $light-2;
                            font-size: 0.9em;
                            margin: 10px 0 5px 0;
                        }
                    }
                }
            }
        }
    
    
        #panel-footer {
            user-select: none;
            position: absolute;
            height: 80px;
            width: 100%;
            bottom: 0;

            #related-data-toggle {
                margin-bottom: 5px;
                width: 100%;
            }

            #footer-btns {
                height: 50px;
                width: 100%;
                padding-top: 7px;

                #filter-submit-btn {
                    float: right;
                }

                button {
                    margin: 0;
                    height: 30px;
                    width: 120px;
                    font-size: 0.9em;
                    float: left;
                }
            }
        }
    }
}


// this is also used in the related filter
.filter-group-area {
    position: relative;
    float: left;
    width: 95%;
    height: calc(100% - 42px);

    .filter-sub-group-area {
        position: relative;
        width: 100%;
        margin-top: -3px;
        padding: 0px 3px 0 10px;
        height: calc(100% - 33px);
        overflow-y: auto;

        .checkbox-filter {
            margin: 5px 0;
            width: 60%;
        }
    } 
}  



// group & sub group buttons in the filter
.filter-grp-btn-pri,
.filter-grp-btn-sec {
    user-select: none;
    height: 32px;
    width: calc(100% - 2px);

    label {
        font-size: 0.95em;
        margin-left: 20px;
    }

    span {
        font-size: 1em;
        font-weight: 600;
        float: right;
        margin-right: 10px;
    }

}

.filter-grp-btn-sec {
    height: 28px;

    label {
        font-size: 0.85em;
        margin-left: 30px;
        position: absolute;
    }

    span {
        font-size: 0.9em;
    }
}


