@import '../variables';

@media only screen and (max-width: 750px) {

    #related-data-comp {
        height: calc(100% + 1px);
        margin-top: -1px;
        width: calc(100% + 1px);
        left: -1px;
    }
}
