@import '../variables';

#related-data-comp {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $dark-5;
    z-index: 1;
    padding-left: 10px;

    .related-filter-header {
        height: 40px;
        position: relative;

        h2 {
            user-select: none;
            margin: 10px 0 8px 0;
            font-size: 1em;
            font-weight: 100;
            color: $light-3;
        }
    
        hr {
            margin: 10px 0;
            border-top: 0.5px solid $dark-6;
        }
    }

    .related-filter-area {
        height: calc(100% - 50px);
        width: 100%; 
    }
}
