@import '../variables';


@media only screen and (max-width: 850px) {

    #navbar .burger span {
        &:active {
            color: $light-2;
            box-shadow: inset 0 0 4px $light-1;
        }
    }
    
    .sub-header-c1 {
        padding-left: 20px;
        padding-right: 10px;
        font-size: 0.9em;

        li a {
                padding: 0 12px 8px 12px;
        }
    }
}


@media only screen and (min-width: 851px) {

    #navbar .burger span {
        &:hover {
            color: $light-2;
            box-shadow: inset 0 0 2px $light-1;
        }
        &:active {
            color: $light-2;
            box-shadow: inset 0 0 4px $light-1;
        }
    }
}